{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid bg-cream p-4">
    <div class="row">
        <div class="col">
            <h5 class="text-blue">{{product.name}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="my-5">
                {% if 'noimage' not in product.image.url %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col-12">
                    <hr>
                    <h5 class="text-blue">Add a Review</h5>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form method="POST" action="{% url 'add_review'  product.id  %}" class="form text-secondary mb-2">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <p>Rating</p>
                        <div class="rating-stars">
                            {% spaceless %}
                                {% for star in "12345"|make_list %}
                                    <label for="id_rating_{{forloop.counter}}">
                                        <input class="d-none" type="radio" name="rating" id="id_rating_{{forloop.counter}}" value="{{forloop.counter}}">
                                        <i class="fa-solid fa-star fw-lg fs-1"></i>
                                    </label>
                                {% endfor %}
                            {% endspaceless %}
                        </div>
                        <div class="text-center">
                            <a class="btn btn-outline-black rounded-0 text-uppercase"
                                href="{% url 'product_detail' product.id %}">Cancel</a>
                            <button class="btn btn-blue rounded-0 text-uppercase" type="submit">Add Product
                                Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>


</div>

{% endblock %}
{% block postloadjs %}
<script>
    $(document).ready(function () {
      $("input[name='rating']").on("change", function () {
        let selectedValue = $(this).val();
  
        // Remove gold color from all stars
        $(".fa-star").removeClass("gold");
  
        // Highlight all stars up to the selected rating
        $(".fa-star").slice(0, selectedValue).addClass("gold");
      });
    });
  </script>
{% endblock %}