@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
    background-color: #fff9F0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/*  NAVIGATION BAR */
.sort-nav {
    padding: 5px;
}

.logo {
    max-height: 7rem;
}

/* .nav-icon {
    color: #7096D1;
    font-family: "Montserrat", sans-serif;
} */

.nav-link {
    font-family: "Montserrat", sans-serif;
    color: #081F5c
}
#topnav {
    max-height: 20vh;
}

#topnav {
    background-color: #fff9F0;
}

#main-nav {
    padding: 10px;
}

.mobile-list {
    margin: 0px;
    padding: 0px;
}

.mobile-nav-icon {
    font-size: 15px;
    color: #7096D1;
}
.search-input {
    border-radius: 15px;
    
}
.mobile-nav {
    background-color: #fff9F0;
}

.account-dropdown-menu {
    background-color: #081F5c;
    border-radius: 15px;
}

.account-dropdown {
    color: #fff9f0;
}

.search-font {
    font-family: "Montserrat", sans-serif;

}

/*  HOME PAGE  */
#hero-image {
    width: 100vw;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../images/bg-image/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: blue;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }


}


@media (max-width: 600px) {

        
    #hero-image {
        background-position: left;
    }


}



@media (max-width: 400px) {
    .mobile-nav-icon {
        padding: 0px;
        font-size: 12px;
    }
        

}

@media (max-width: 350px) {
    .mobile-nav-icon {
        padding: 0px;
        font-size: 10px;
    }
        

}