{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid bg-cream p-5">
        <div class="row h-100 p-5">
            <div class="col-lg-7 mx-auto mt-3">
                <h4 class="logo-font text-blue">
                    Diagnosis: Server Error. Treatment: A little patience.
                </h4>
                <p class="text-secondary"> It looks like our system needs a quick checkup. We’ll be back shortly!</p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-blue rounded-0 text-uppercase py-3">
                            Return to shop
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}