{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4 text-blue">{% trans "Set Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-secondary">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-blue rounded-0 text-uppercase">
    </form>
{% endblock %}
