{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4 text-blue">{% trans "Verify Your E-mail Address" %}</h2>
    <hr>

    <p class="text-secondary">{% blocktrans %}We’ve sent a verification email to your inbox. Please click the link provided in the email to complete your sign-up process. If you don’t receive it within a few minutes, feel free to contact us for assistance.{% endblocktrans %}</p>

{% endblock %}