{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- BOOTSTRAP CDN CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- BASE CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/61cd806bb5.js" crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <!-- BOOTSTRAP CDN JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Scrub Savers {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- NAV BAR FOR DESKTOP -->
    <header class="container-fluid">
        <!-- LOGO -->
        <div id="topnav" class="row d-none d-md-flex">
            <div class="col-2 mx-auto text-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img class="logo" src="{% static 'images/logo/scrub-savers-logo.png' %}" alt="logo">
                </a>
            </div>
            <!-- SEARCH BAR -->
            <div class="col-10 my-auto text-right">
                <ul class="list-inline list-unstyled text-lg-right">
                    <li class="list-inline-item">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100 search-bar-input">
                                <input class="form-control search-input search-font search-bar-input" type="text"
                                    name="q" placeholder="Search our site">
                                <div class="input-group-append">
                                    <button
                                        class="form-control btn border-black rounded-3 search-button search-bar-input"
                                        type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </li>
                    <!-- Account Icon -->
                    <li class="list-inline-item dropdown p-0">
                        <a class="nav-icon nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class=" account-dropdown-menu dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item account-dropdown">Product
                                Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item account-dropdown">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item account-dropdown">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item account-dropdown">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item account-dropdown">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Bag Icon -->
                    <li class="list-inline-item p-0">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link nav-icon"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg nav-icon"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
        </div>
        <!-- MOBILE NAV -->
        <div class="row mobile-nav">

            <div class="col px-0">
                <nav class="navbar navbar-expand-md navbar-ligh mobile-nav">
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </div>
        <!-- DELIVERY BANNER -->
        <div id="delivery-banner" class="row text-center">
            <div class="col-12">
                <h4 class="delivery-banner-font my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>
                <p class="delivery-banner-font mobile-font">saving lives and shipping costs</p>
            </div>
        </div>
    </header>
    <!-- TOASTS -->

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}


    {% block page_header %}
    {% endblock %}
    <!-- MAIN -->
    {% block content %}
    {% endblock %}
    <!-- FOOTER -->
    <footer class="container-fluid footer-section text-center">
        <div class="row">
            <div class="col-12 col-md-3 text-center text-md-left">
                
                    <a href="{% url 'home' %}" class="link-body-emphasis text-decoration-none col-md-2">
                        <img class="logo" src="{% static 'images/logo/scrub-savers-logo.png' %}" alt="logo">
                    </a>
                    <p>&copy; 2024 ScrubSavers</p>

                    
             
            </div>
            <div class="col-12 col-md-9 text-center text-md-right p-4">
                <div class="d-block">
                    
                    <!-- Social media links -->
                    <ul class="social-media-icons nav justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a href="https://en-gb.facebook.com/" target="_blank" rel=noreferrer
                                aria-label="facebook">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/" target="_blank" rel=noreferrer
                                aria-label="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/mikavir/scrub-savers" target="_blank" rel=noreferrer
                                aria-label="github">
                                <i class="fa-brands fa-github"></i>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/mikaela-virtucio-b01962274/" target="_blank"
                                rel=noreferrer aria-label="linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>

                        </li>
                    </ul>
                    
                </div>
                <!-- FOOTER NAVIGATION -->
                <div class="d-block">
                    <ul class="nav justify-content-center justify-content-md-end">
                        <li class="nav-item"><a href="{% url 'home' %}"
                                class="nav-link px-2 text-body-secondary mobile-font">Home</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'products' %}"
                                class="nav-link px-2 text-body-secondary mobile-font">Our
                                Products</a></li>
                        <li class="nav-item"><a href="{% url 'contact' %}"
                                class="nav-link px-2 text-body-secondary mobile-font">Contact
                                Us</a></li>
                    </ul>
                 
                </div>

            </div>
        </div>




    </footer>


    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}


</body>

</html>