{% extends "base.html" %}
{% load static %}
{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid bg-cream">
    <div class="row p-4">
        <div class="col">
            <h5 class="text-blue text-uppercase">Need a checkup on your order? We're here to diagnose and treat your questions!</h5>
            <p class="mt-3 mobile-font">

                Whether it's a prescription for the perfect scrubs or a follow-up on your purchase, our team is on call!</p>
        </div>
    </div>
    <div class="row">
        <form class="mt-3 col-12 col-md-7 mx-auto" action="{% url 'contact' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-blue rounded-0 text-uppercase">Get in touch </button>
        </form>
    </div>

</div>

{% endblock %}