@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
    background-color: #fff9F0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.bg-cream {
    background-color: #fff9F0;
}
h1,h2,h3,h4, h5, p {
    font-family: "Montserrat", sans-serif;


}
.heading {
    font-family: "Lora", serif;
}

.text-blue {
    color:#081F5c;
    font-family: "Montserrat", sans-serif;
}
.btn-blue {
    background-color: #081F5c;
    color: #fff9F0;
}
.text-primary {
    font-family: "Montserrat", sans-serif;
}
.text-secondary {
    font-family: "Lora", serif;
}

.btn:hover,.btn-black:hover{
    background-color: #f7F2EB;
    color: #081F5c;
    border:#081F5c 1px solid;
}

.custom-button {
    background-color: #081F5c;
    color: #fff9F0;
    border-radius: 15px;
    border: 1px #081F5c solid;
}
/*  NAVIGATION BAR */
.sort-nav {
    padding: 5px;
}

.logo {
    max-height: 7rem;
}

/* .nav-icon {
    color: #7096D1;
    font-family: "Montserrat", sans-serif;
} */

.nav-link {
    font-family: "Montserrat", sans-serif;
    color: #081F5c
}
#topnav {
    max-height: 20vh;
}

#topnav {
    background-color: #fff9F0;
}

#main-nav {
    padding: 10px;
}

.mobile-list {
    margin: 0px;
    padding: 0px;
}


.search-input {
    border-radius: 15px;
    
    
}

.search-button {
    background-color: #081F5c;
    color: #fff9F0;
    border: #081F5c 1px;

}
.mobile-nav, .mobile-search-bar {
    background-color: #fff9F0;
}




.account-dropdown-menu, .nav-dropdown-menu{
    background-color: #081F5c;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;

}


.account-dropdown, .nav-dropdown {
    color: #fff9f0;
    border: none;
}

.search-font {
    font-family: "Montserrat", sans-serif;

}
.toggle-button {
    color: #081F5c;
    border: none;
    background-color: #fff9f0;
}

/*  FOOTER */

/*  DELIVERY BANNER */

#delivery-banner {
    background-color: #e1eaff;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
}

.delivery-banner-font {
    text-transform: uppercase;
    color:#081F5c;
}
/* FOOTER */

footer {
    background-color: #fff9f0;
}

ul.social-media-icons {
    padding-inline-start: 0px;  
}


  
.social-media-icons li {
list-style: none;
display: inline-block;
margin: 10px;
}

.social-media-icons i {
color: #081F5c;
font-size: 30px;
  }
/*  HOME PAGE  */
#hero-image {
    width: 100vw;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/bg-image/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.hero-callout {
    background-color: white;
    border-radius: 10px;
}

.message {
    font-family: "Lora", serif;
}

.shop-now-btn {
    font-family: "Montserrat", sans-serif;
    border: 2px #081F5c solid;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #081F5c;

}

#hero-callout-mobile {
    background-color:#fff9F0;
    padding: 2rem;
}

#recommendations {
    background-color: #f7F2EB;
}

.recommendation-card {
    text-decoration: none;
    color:  #081F5c;
}

#hero-image-review{

    width: 100vw;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/bg-image/hero-image-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;

}

 /* PRODUCT PAGE */

 .product-container, .header-container{
    background-color: #fff9F0;
 }

 /* COLOUR */
.colour-blue {
    height: 2rem;
    width: 2rem;
    border: 1px blue solid;
    background-color: blue;
    border-radius: 50%;
 }

 .colour-black {
    height: 2rem;
    width: 2rem;
    border: 1px black solid;
    background-color: black;
    border-radius: 50%;
 }

 .colour-green {
    height: 2rem;
    width: 2rem;
    border: 1px green solid;
    background-color: green;
    border-radius: 50%;
 }

 .colour-purple {
    height: 2rem;
    width: 2rem;
    border: 1px purple solid;
    background-color: purple;
    border-radius: 50%;
 }

 .colour-pink {
    height: 2rem;
    width: 2rem;
    border: 1px pink solid;
    background-color: pink;
    border-radius: 50%;
 }

 .colour-white {
    height: 2rem;
    width: 2rem;
    border: 1px black solid;
    background-color: white;
    border-radius: 50%;
 }

.custom-select {
    font-family: "Montserrat", sans-serif;
 }


.review-container {
    background-color: #fff9F0;
    padding: 3rem;
}

/* TOASTS */
.toast, .custom-toast {
    border:#081F5c 2px solid;
    border-radius: 15px;
    padding: 1rem;
    background-color: #f7F2EB;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-cream {
    color:#fff9F0;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: blue;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: #f7F2EB;
}
.btn-red:hover {
   border: red 1px solid;
   background-color: #f7F2EB;
   color: red;
}
/* ------------------------------- bootstrap toasts */
.toast-font {
    font-size: 90%;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    .hero-callout-review {
        background-color: rgba(247, 242, 235, 0.7);
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .hero-callout-review {
        background-color: rgba(247, 242, 235, 0.7);
        padding: 10px;
    }
}





@media (max-width: 600px) {

        
    #hero-image {
        background-position: left;
    }
    #hero-image-review {
        background-position: right;
    }

}



@media (max-width: 460px) {
    .mobile-nav-icon {
        padding: 0px;
        font-size: 10px;
    }
    .delivery-banner-font {
        font-size: 15px;
        text-transform: uppercase;
    }
    .logo {
        max-height: 5.5rem;
    }
    #hero-image {
        max-height: 45vh;
    }
    .mobile-font {
        font-size: 80%;        
    }



}

@media (max-width: 350px) {
    .mobile-nav-icon {
        padding: 0px;
        font-size: 10px;
    }
    .logo {
        max-height: 5.5rem;
    }
}