{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <main class="container-fluid product-container p-0">
        <!-- PAGE TITLE -->
        <div class="row m-0">
            <div class="col text-center mt-3">
                <h2 class="heading text-blue">Products</h2>
                <hr class="w-50 mb-1 text-blue">
            </div>
        </div>
        <!-- SELECT -->
        <div class="product-container row m-0">
            <div class="col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm {% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left heading">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- COLOUR SORTING -->
        <div class="row py-2 mx-auto">
            <div class="col ">
                
                    <ul class="nav justify-content-center">
                        <li class="nav-list px-2">
                            <a href="{% url 'products' %}?colours=blue">
                                <div class="colour-blue">
    
                                </div>
                            </a>
                        </li>
                        <li class="nav-list px-2">
                            <a href="{% url 'products' %}?colours=black">
                                <div class="colour-black">
    
                                </div>
                            </a>
                        </li>
                        <li class="nav-list px-2">
                            <a href="{% url 'products' %}?colours=green">
                                <div class="colour-green">
    
                                </div>
                            </a>
                        </li>
                        <li class="nav-list px-2">
                            <a href="{% url 'products' %}?colours=pink">
                                <div class="colour-pink">
    
                                </div>
                            </a>
                        </li>
                        <li class="nav-list px-2">
                            <a href="{% url 'products' %}?colours=purple">
                                <div class="colour-purple">
    
                                </div>
                            </a>
                        </li>
                        <li class="nav-list px-2">
                            <a href="{% url 'products' %}?colours=white">
                                <div class="colour-white">
    
                                </div>
                            </a>
                        </li>
                    </ul>

            </div>
        </div>
        <!-- PRODUCT CARD -->
        <div class="row m-0">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <a href="{% url 'product_detail' product.id %}" class="recommendation-card">
                            {% if 'noimage' not in product.image.url %}
        
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                          
                            {% endif %}
                            <div class="pb-0 text-left">
                                
                                <p class="mb-0">{{ product.name }}</p>
                                <p>£{{product.price}} </p>
                                {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_product' product.id %}" class="btn btn-blue mobile-font">Edit</a> | 
                                    <button type="button" class="btn btn-red mobile-font" data-toggle="modal" data-target="#delete-product-{{product.id}}">
                                        Delete
                                      </button>
                                </small>
                                <div class="modal fade" id="delete-product-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteProduct" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title text-blue text-uppercase">Caution <i class="fa-solid fa-triangle-exclamation"></i></h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <h5 class="text-secondary mobile-font"> Are you sure you want to delete this product?</h5>
                                          <p class="text-secondary mobile-font">Once deleted, all product details, images, and related information will be permanently removed and cannot be restored.</p>
                                          <p> {{ product.name }}</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-blue text-uppercase mobile-font" data-dismiss="modal">Cancel</button>
                                          <a class="btn btn-red text-uppercase mobile-font" href="{% url 'delete_product' product.id %}">Delete product</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                            </div>
                        </a>
        
                    </div>    
                    
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <!-- ARROW UP BUTTON -->
    <aside class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </aside>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <!--  Credits to Boutique ado JS -->
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script>
        $('#sort-selector').change(function() {
            const selector = $(this);
            const currentUrl = new URL(window.location);

            const selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}